/* reset some stuff */
:root {
  --popup-width: auto;
}

body {
  @apply justify-start min-h-screen w-full;
}
.base_pokt_logo {
  @apply hidden;
}

* {
  scrollbar-color: aqua green;
  scrollbar-width: 0.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  scrollbar-gutter: stable both-edges;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--eerie-black);
  border-radius: 10px;
  @apply cursor-pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-capri to-aqua hover:from-aqua hover:to-aqua;
  border-radius: 0.667rem;
}

.snackbar_wrap {
  @apply left-0 right-0 text-xl mx-auto font-semibold py-5 border border-eerie-black bg-spanish-gray text-white !important;
}

/* TODO: figure out how to make this not overflow the containers */
.slide_up_menu_wrap {
  @apply hidden;
}
